body {
    background-color: antiquewhite;
    padding: 0;
    margin: 0;
    font-family: "Inter" , sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
}

h4 {
    font-size: 30px;
}

header {
    position: fixed;
    width: 100%;
    background-color: #333;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    box-shadow: 0 0 10px 2px #aaa;
    padding: 20px, 120px;
    z-index: 100;
}

.links_wrapper {
    width: 30%;
    display: block;
}

.links_list {
    width: 70%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.links_list_item > a {
    color: lightskyblue;
    text-decoration: none;
    transition: .2s all;
}

article,
section {
    display: block;
    margin: 0 120px;
    font-size: 20px;
}

article {
    position: relative;
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 150px 120px;
}

.article-element {
    width: 50%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: lightskyblue;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.about_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about_section {
    padding-top: 300px;
    padding-left: 30px;
    padding-right: 30px;
}

.about_section_header {
    width: 50%;
}

.about_section_header::before {
    content: 'About';
    width: 40px;
    height: 3px;
    text-decoration:underline;
    color: #13b974;
}

li a:hover {
    text-shadow: 2px 2px 10px #000000;
  
    filter: dropshadow(color=#000000, offx=2, offy=2);
  }